{% extends "account/base.html" %}
{% load i18n bootstrap %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
      <section class="page-section clearfix">
<div class="container">
    <div class="col-12 col-lg-10 ml-lg-auto mr-lg-auto mt-4 card">
      <div class="card-body">
          <h1>{% trans "Change Password" %}</h1>
        <form method="post" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="form-actions">
                <button type="submit" name="action">{% trans "Change Password" %}</button>
            </div>
        </form>
    </div>
    </div>
</div>
      </section>
{% endblock %}
