{% extends "account/base.html" %}
{% load i18n bootstrap %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
      <section class="page-section clearfix">
<div class="container">
    <div class="col-12 col-lg-10 ml-lg-auto mr-lg-auto mt-4 card">
              <div class="card-body">
        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit">{% trans 'change password' %}</button>
                    </div>
                </form>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
              </div>
    </div>
</div>
      </section>
{% endblock %}
