{% extends "account/base.html" %}
{% load i18n bootstrap %}
{% block title %}{% trans "Set Password" %}{% endblock %}
{% block content %}
<section class="page-section clearfix">
    <div class="container">
        <div class="col-12 col-lg-10 ml-lg-auto mr-lg-auto mt-4 card">
            <div class="card-body">
                <h1>{% trans "Set Password" %}</h1>
                <form method="post" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <div class="form-actions">
                        <input class="btn btn-primary" type="submit" name="action" value="{% trans 'Set Password' %}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
