{% extends "account/base.html" %}
{% load i18n %}
{% block title %}{% trans "Verify Your Email Address" %}{% endblock %}
{% block content %}
<section class="page-section clearfix">
    <div class="container">
        <div class="col-12 col-lg-10 ml-lg-auto mr-lg-auto mt-4 card">
            <div class="card-body">
                <h1>{% trans "Verify Your Email Address" %}</h1>
                <p>{% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the registration process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
