git{% extends 'base.html' %}
{% load static %}
{% block extracss %}
    <link href="{% static 'vendor/fullcalendar-4.2.0/packages/core/main.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/fullcalendar-4.2.0/packages/daygrid/main.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/fullcalendar-4.2.0/packages/timegrid/main.min.css' %}" rel="stylesheet" />
{% endblock extracss %}
{% block extrajs %}
<!--    <script src="{% static 'vendor/fullcalendar-3.10.0/lib/jquery.min.js' %}"></script>-->
<!--    <script src="{% static 'vendor/fullcalendar-3.10.0/lib/jquery-ui.min.js' %}"></script>-->
    <script src="{% static 'vendor/fullcalendar-4.2.0/packages/core/main.min.js' %}"></script>
    <script src="{% static 'vendor/fullcalendar-4.2.0/packages/daygrid/main.min.js' %}"></script>
    <script src="{% static 'vendor/fullcalendar-4.2.0/packages/timegrid/main.min.js' %}"></script>
{% endblock extrajs %}
{% block content %}
<section class="page-section">
    <div class="container">
        <div class="card">
            <h1 class="card-header">Ocean Ink Calendar</h1>
            <div class="card-body">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block finaljs %}
document.addEventListener("DOMContentLoaded", function() {
  var calendarEl = document.getElementById("calendar");
  var calendar = new FullCalendar.Calendar(calendarEl, {
    plugins: [ "interaction", "dayGrid", "timeGrid" ],
    defaultView: "dayGridMonth",
    header: {
      left: "prev,next today",
      center: "title",
      right: "dayGridMonth,timeGridWeek,timeGridDay"
    },
    events: "{% url 'profile:api-occurrences' %}"
  });
  calendar.render();
});
{% endblock finaljs %}
