<p>Dear {{ user }}:</p>
<p>Thank you so much for choosing Ocean Ink for your tutoring and studying needs.
If you have any questions about our services, please let us know.  Currently, all our students
    will be tutoring one-on-one with Dr. MK Le Pava, founder of Ocean Ink.</p>
<p>Please check out our <a href="https://oceanink.net{% url 'frontend:schedule' %}">schedule</a> to view our free
sessions that you will definitely want to be a part of. We teach students how to apply
their knowledge by doing questions them in our Morning Cute session. You do not have to
be physically present to attend a session; they are available via <a href="http://zoom.us">Zoom</a>.
    We also have a drilling session in the evening hosted by Dr. Misbah Gill.</p>
<p>Please let us know if you would like to make any appointments. Pricing is available on the
<a href="https://oceanink.net{% url 'profile:pay' %}">website</a>. Our physical location is in Champaign, Illinois, but
    we utilize the power of the Internet to access any location you may be in.</p>
<p>We are so happy to have you register with OI.  We love to support all of our students wherever they are.
    We hope together we make a better life for everyone.</p>
<p>
Best wishes,<br>
Ocean Ink Staff
</p>
<p>
MK Le Pava, MD<br>
Course Lecturer<br>
Ocean Ink LLC<br>
Tel: 760-672-1049<br>
mailto:drlepava@gmail.com
</p>
<p>
Technical/billing questions can be sent to<br>
Matthew Pava<br>
CEO<br>
mailto:matthew.pava@gmail.com
</p>