<section class="page-section cta">
    <div class="container">
        <div class="card">
            <h2 class="card-header">
                <span class="section-heading-upper">New Ocean Courage Order! {% if renewal %}This is a renewal!{% endif %}</span>
            </h2>
            <div class="card-body">
                <ul>
                    <li>Order Date: {{ order.date_paid|date("SHORT_DATE_FORMAT") if order.date_paid else "" }}</li>
                    <li>Student: {{ order.student }}</li>
                    {% set student = order.student %}
                    {% include 'basic.html' %}
                </ul>
            </div>
        </div>
    </div>
</section>
