<p>Dear {{ user }}:</p>
<p>
    Thank you so much for choosing Ocean Ink for your tutoring and studying needs.
    If you have any questions about our services, please let us know. Our services
    are conducted by members of our staff.
</p>
<p>
    You may join us at our physical location at <a href="https://www.lodgic.com">Lodgic Everyday Community</a>
    by paying a monthly membership fee. Ocean Ink students have access to the facility 24 hours a day and are
    invited to attend any of the Ocean Courage sessions in person at no extra cost. You can sign-up here:
    <a href="https://bit.ly/lodgic-ocean-ink">https://bit.ly/lodgic-ocean-ink</a>.
</p>
<p>
    If you choose not to become a Lodgic member, you will want to subscribe to our monthly
    Ocean Courage group sessions package. It includes several group sessions including
    morning questions and answers, concepts for lunch, and drilling sessions. Schedules are
    shown on the  <a href="https://oceanink.net{% url 'profile:pay' %}">pricing page</a>.
    When you subscribe, you can access the sessions via <a href="http://zoom.us">Zoom</a>. We
    will send you another email to register with Zoom upon subscribing.
</p>
<p>
    Please check out our <a href="https://www.facebook.com/oceanink1">Facebook</a> page.
</p>
<p>
    Please let us know if you would like to make any appointments. Pricing is available on the
    <a href="https://oceanink.net{% url 'profile:pay' %}">website</a>. Our physical location is in Champaign, Illinois, but
    we utilize the Internet to access any location you may be in.
</p>
<p>
    We are so happy to have you register with OI.  We love to support all of our students wherever they are.
    We hope together we make a better life for everyone.
</p>
<p>
Best wishes,<br>
Ocean Ink Staff
</p>
<p>
MK Le Pava, MD<br>
Course Lecturer<br>
Ocean Ink LLC<br>
Tel: 760-672-1049<br>
mailto:drlepava@gmail.com
</p>
<p>
Technical/billing questions can be sent to<br>
Matthew Pava<br>
CEO<br>
mailto:matthew.pava@gmail.com
</p>