<p>Dear {{ user }}:</p>
<p>
    Thank you so much for choosing Ocean Ink for your tutoring and studying needs.
    If you have any questions about our services, please let us know. Our services
    are conducted by members of our staff.
</p>
<p>
    You will want to subscribe to our monthly Ocean Courage group sessions package. It includes:
    <ul>
        <li>Morning Cute at 7-8am M-F CST</li>
        <li>Concepts for Lunch at 12pm-1230pm CST M-Th</li>
        <li>Drill Sessions 6-7pm CST M-Th</li>
        <li>707 7:07pm-8pm M, W</li>
    </ul>
    You do not have to be physically present to attend a session; they are accessible via
    <a href="http://zoom.us">Zoom</a>.
</p>
<p>
    Zoom requires an ID to be utilized. In order to retrieve that ID for each session,
    please email <a href="mailto:geetugupta1@hotmail.com">Dr. Geetu Gupta</a>.
    If there are problems during a Zoom session, please check out our
    <a href="https://www.facebook.com/oceanink1">Facebook</a> page.
</p>
<p>
    Please let us know if you would like to make any appointments. Pricing is available on the
    <a href="https://oceanink.net{% url 'profile:pay' %}">website</a>. Our physical location is in Champaign, Illinois, but
    we utilize the Internet to access any location you may be in.
</p>
<p>
    If it is possible, please join us at <a href="https://www.lodgic.com">Lodgic Everyday Community</a>.
    Monthly membership at Lodgic for Ocean Ink  students is $180/month, which includes 24 hour access 7 days
    a week and the Ocean Courage Group Session Package. You can sign-up here:
    <a href="https://bit.ly/lodgic-ocean-ink">https://bit.ly/lodgic-ocean-ink</a>.
</p>
<p>
    We are so happy to have you register with OI.  We love to support all of our students wherever they are.
    We hope together we make a better life for everyone.
</p>
<p>
Best wishes,<br>
Ocean Ink Staff
</p>
<p>
MK Le Pava, MD<br>
Course Lecturer<br>
Ocean Ink LLC<br>
Tel: 760-672-1049<br>
mailto:drlepava@gmail.com
</p>
<p>
Technical/billing questions can be sent to<br>
Matthew Pava<br>
CEO<br>
mailto:matthew.pava@gmail.com
</p>