{% load utility_tags %}
<section class="page-section cta">
    <div class="container">
        <div class="card">
            <h2 class="card-header">
                <span class="section-heading-upper">New Ocean Courage Order! {% if renewal %}This is a renewal!{% endif %}</span>
            </h2>
            <div class="card-body">
                <ul>
                    <li>Order Date: {{ order.date_paid|date:"SHORT_DATE_FORMAT" }}</li>
                    <li>Student: {{ order.student }}</li>
                    {% include 'basic.html' with student=order.student %}
                </ul>
            </div>
        </div>
    </div>
</section>