{% load utils %}
<section class="page-section cta">
    <div class="container">
        <div class="card">
            <h2 class="card-header">
                <span class="section-heading-upper">Receipt {{ order.number }}</span>
            </h2>
            <div class="card-body">
                <ul>
                    <li>Student: {{ order.student }}</li>
                    <li>Order Date: {{ order.date_paid|date:"SHORT_DATE_FORMAT" }}</li>
                    {% if order.total %} {# change in the future when these fields are converted to OrderLineItem #}
                        <li>Total Paid: {{ order.total|currency }}</li>
                        <li>In Person Appointments: {{ order.in_person_appt_qty }}</li>
                        <li>Remote Appointments: {{ order.remote_appt_qty }}</li>
                    {% else %}
                        <li>Total Paid: {{ order.grand_total|currency }}</li>
                        {% for li in order.orderlineitem_set.all %}
                            <li>{{ li.product }}: {{ li.qty }} ({{ li.charge|currency }} ea)</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>