{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
<section class="page-section clearfix">
    <div class="container">
        <div class="card">
            <h2 class="card-header">{{ title }}</h2>
            <div class="card-body">
                <form method="post" novalidate class="card-text" {% if debug %}autocomplete="off"{% endif %}>
                    {% crispy form %}
                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
