{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner rounded">
                    {% if user.is_authenticated %}
                        {% with user.appointment_set.upcoming as upcoming %}
                            {% if upcoming %}
                                You have the following appointments scheduled:
                                <ul>
                                    {% for appt in upcoming %}
                                        <li>{{ appt.get_type_display }}: {{ appt.dt|date:"SHORT_DATE_FORMAT" }} for {{ appt.duration }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">
                            Call or text us to schedule an appointment at (760) 672-1049.
                            All times are in the central time zone.
                        </span>
                    </h2>
                    <p>
                        In-person sessions are held at <a href="https://www.lodgic.org/">Lodgic Everyday Community</a>,
                        which requires a separate paid membership that you can <a href="https://bit.ly/lodgic-ocean-ink">register</a> for.
                    </p>
                    <p>
                        Online Sessions are held via <a href="http://zoom.us">Zoom</a>.
                        You can also check the <a href="https://www.facebook.com/oceanink1">Facebook</a> page.
                    </p>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Sunday
                            <span class="ml-auto">By appointment only</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Monday
                            <span class="ml-auto">
                                5:00 AM to 8:00 PM<br>
                                8:00 AM to 8:45 AM: Morning Cute Questions
                            </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Tuesday
                            <span class="ml-auto">
                                5:00 AM to 8:00 PM<br>
                                8:00 AM to 8:45 AM: Morning Cute Questions<br>
                                9:00 AM to 9:45 AM: Ocean Wave Drills
                            </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Wednesday
                            <span class="ml-auto">
                                5:00 AM to 8:00 PM<br>
                                8:00 AM to 8:45 AM: Morning Cute Questions
                                9:00 AM to 9:45 AM: Concept Discussion
                            </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Thursday
                            <span class="ml-auto">
                                5:00 AM to 8:00 PM<br>
                                8:00 AM to 8:45 AM: Morning Cute Questions
                                9:00 AM to 9:45 AM: Ocean Wave Drills
                            </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Friday
                            <span class="ml-auto">
                                5:00 AM to 4:00 PM<br>
                                8:00 AM to 8:45 AM: Morning Cute Questions
                            </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Saturday
                            <span class="ml-auto">Closed</span>
                        </li>
                    </ul>
                    <div>
                        Additionally, Ocean Ink is not open on these dates:
                        <ul>
                            <li>Monday, February 17, 2020</li>
                            <li>Friday, April 10, 2020</li>
                            <li>Friday, May 22, 2020</li>
                            <li>Monday, May 25, 2020</li>
                            <li>Friday, July 3, 2020</li>
                            <li>Friday, September 4, 2020</li>
                            <li>Monday, September 7, 2020</li>
                            <li>Thursday, November 26, 2020</li>
                            <li>Friday, November 27, 2020</li>
                            <li>Thursday, December 24, 2020</li>
                            <li>Friday, December 25, 2020</li>
                            <li>Thursday, December 31, 2020</li>
                            <li>Friday, January 1, 2021</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}