{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner rounded">
                    {% if user.is_authenticated %}
                        {% with user.appointment_set.upcoming as upcoming %}
                            {% if upcoming %}
                                You have the following appointments scheduled:
                                <ul>
                                    {% for appt in upcoming %}
                                        <li>{{ appt.get_type_display }}: {{ appt.dt|date:"SHORT_DATE_FORMAT" }} for {{ appt.duration }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">
                            Call or text us to schedule an appointment at (760) 672-1049.
                            All times are in the central time zone.
                        </span>
                    </h2>
                    <p>
                        Sessions are held at <a href="https://www.lodgic.org/">Lodgic Everyday Community</a>,
                        which requires a separate paid membership.
                    </p>
                    <p>
                        Sessions are also available via <a href="http://zoom.us">Zoom</a>,
                        and the participant count is limited to 100. Also, check
                        the <a href="https://www.facebook.com/oceanink1">Facebook</a> page.
                    </p>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Sunday
                            <span class="ml-auto">5:00 AM to 8:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Monday
                            <span class="ml-auto">
                                5:00 AM to 8:00 PM<br>
                                7:00 AM to 8:00 AM: Morning Cute Questions<br>
                                6:00 PM to 7:00 PM: Drilling Session<br>
                            </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Tuesday
                            <span class="ml-auto">
                                5:00 AM to 8:00 PM<br>
                                7:00 AM to 8:00 AM: Morning Cute Questions<br>
                                6:00 PM to 7:00 PM: Drilling Session<br>
                            </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Wednesday
                            <span class="ml-auto">
                                5:00 AM to 8:00 PM<br>
                                7:00 AM to 8:00 AM: Morning Cute Questions<br>
                                6:00 PM to 7:00 PM: Drilling Session
                            </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Thursday
                            <span class="ml-auto">
                                5:00 AM to 8:00 PM<br>
                                7:00 AM to 8:00 AM: Morning Cute Questions<br>
                                6:00 PM to 7:00 PM: Drilling Session
                            </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Friday
                            <span class="ml-auto">
                                5:00 AM to 4:00 PM<br>
                                7:00 AM to 8:00 AM: Morning Cute Questions<br>
                                6:00 PM to 7:00 PM: Drilling Session
                            </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Saturday
                            <span class="ml-auto">Closed</span>
                        </li>
                    </ul>
                    <div>
                        Additionally, Ocean Ink is not open on these dates:
                        <ul>
                            <li>July 4, 2019</li>
                            <li>September 2, 2019</li>
                            <li>November 28, 2019</li>
                            <li>November 29, 2019</li>
                            <li>December 24, 2019</li>
                            <li>December 25, 2019</li>
                            <li>December 31, 2019</li>
                            <li>January  1, 2020</li>
                            <li>February 17, 2020</li>
                            <li>April 10, 2020</li>
                            <li>April 12, 2020</li>
                            <li>May 25, 2020</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}