[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tinymce = "*"
djangorestframework = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
"psycopg2-binary" = "*"
django-crispy-forms = "*"
django-compressor = "*"
gunicorn = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.7"
