[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tinymce = "*"
djangorestframework = "*"
"psycopg2" = "*"
django-crispy-forms = "*"
django-compressor = "*"
django-allauth = "*"
django-bootstrap-form = "*"
stripe = "*"
django-debug-permissions = "*"
django-scheduler = "*"
django-report-builder = "*"
intuit-oauth = "*"
python-quickbooks = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.7"
