[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tinymce = "*"
djangorestframework = "*"
django-crispy-forms = "*"
django-compressor = "*"
stripe = "*"
django-debug-permissions = "*"
python-dateutil = "*"
django-jinja = "*"
asgiref = "*"
psycopg = {extras = ["binary"], version = "*"}
jinja2 = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.13"
