{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block content %}
<section class="page-section">
    <div class="container">
        <div class="card">
            <h1 class="card-header">Student List</h1>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="d-flex">
                            <th class="col-1">ID <a href="{% url 'staff:student-list' %}?ordering=-pk">&darr;</a> <a href="{% url 'staff:student-list' %}?ordering=pk">&uarr;</a></th>
                            <th class="col-3">Student <a href="{% url 'staff:student-list' %}?ordering=-last_name">&darr;</a> <a href="{% url 'staff:student-list' %}?ordering=last_name">&uarr;</a></th>
                            <th class="col-2">Exam <a href="{% url 'staff:student-list' %}?ordering=-exam">&darr;</a> <a href="{% url 'staff:student-list' %}?ordering=exam">&uarr;</a></th>
                            <th class="col-2">Exam Date <a href="{% url 'staff:student-list' %}?ordering=-test_date">&darr;</a> <a href="{% url 'staff:student-list' %}?ordering=test_date">&uarr;</a></th>
                            <th class="col-2">Phone <a href="{% url 'staff:student-list' %}?ordering=-phone_number">&darr;</a> <a href="{% url 'staff:student-list' %}?ordering=phone_number">&uarr;</a></th>
                            <th class="col-2">Email <a href="{% url 'staff:student-list' %}?ordering=-email">&darr;</a> <a href="{% url 'staff:student-list' %}?ordering=email">&uarr;</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in student_list %}
                            <tr class="d-flex">
                                <td class="col-1">{{ student.pk }}</td>
                                <td class="col-3">{% if user.is_superuser %}<a href="{{ student.get_absolute_url }}">{% endif %}{{ student.first_name }} {{ student.last_name }}, {{ student.get_degree_display }}{% if user.is_superuser %}</a>{% endif %}</td>
                                <td class="col-2">{{ student.get_exam_display }}</td>
                                <td class="col-2">{{ student.test_date }}</td>
                                <td class="col-2">{{ student.phone_number }}</td>
                                <td class="col-2"><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

