{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'section_about.html' %}
    <section class="page-section clearfix">
        <div class="container">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Our Staff</span>
                                <span class="section-heading-lower">We're Here to Help</span>
                            </h2>
                            <div class="row mb-2">
                                <p class="col-lg-2 col-6 text-right">
                                    <img src="{% static 'img/staff/mklepava.jpg' %}" alt="">
                                </p>
                                <p class="col-lg-4 col-6">
                                    MK Le Pava, MD<br>
                                    Founder
                                </p>
                                <p class="col-lg-2 col-6 text-right">
                                    <img src="{% static 'img/staff/matthewpava.jpg' %}" alt="">
                                </p>
                                <p class="col-lg-4 col-6">
                                    Matthew Pava, BS<br>
                                    CEO
                                </p>
                            </div>
                            <div class="row mb-2">
                                <p class="col-lg-2 col-6 text-right">
                                    <img src="{% static 'img/staff/no-image.jpg' %}" alt="">
                                </p>
                                <p class="col-lg-4 col-6">
                                    My-Khanh "Lee" Le, PharmD<br>
                                    Pharmacology Education Advisor<br>
                                    Continuing Medical Education Coordinator
                                </p>
                                <p class="col-lg-2 col-6 text-right">
                                    <img src="{% static 'img/staff/rhodagottfried.jpg' %}" alt="">
                                </p>
                                <p class="col-lg-4 col-6">
                                    Rhoda Gottfried, MD<br>
                                    Educational Advisor for Psychiatry
                                </p>
                            </div>
                            <div class="row mb-2">
                                <p class="col-lg-2 col-6 text-right">
                                    <img src="{% static 'img/staff/shantpezeshkian.jpg' %}" alt="">
                                </p>
                                <p class="col-lg-4 col-6">
                                    Shant Pezeshkian, DO<br>
                                    PGY-1 Candidate<br>
                                    Osteopathic Medicine Team Leader &amp; Instructor
                                </p>
                                <p class="col-lg-2 col-6 text-right">
                                    <img src="{% static 'img/staff/priyashah.jpg' %}" alt="">
                                </p>
                                <p class="col-lg-4 col-6">
                                    Priya Shah, DO<br>
                                    Internal Medicine PGY-1 Candidate<br>
                                    Osteopathic Medicine Instructor &amp; Textbook Editor
                                </p>
                            </div>
                            <div class="row mb-2">
                                <p class="col-lg-2 col-6 text-right">
                                    <img src="{% static 'img/staff/no-image.jpg' %}" alt="">
                                </p>
                                <p class="col-lg-4 col-6">
                                    Rushabh H. Shah, MD<br>
                                    Internal Medicine PGY-1<br>
                                    Educational Consultant
                                </p>
                                <p class="col-lg-2 col-6 text-right">
                                    <img src="{% static 'img/staff/no-image.jpg' %}" alt="">
                                </p>
                                <p class="col-lg-4 col-6">
                                    Thaddeus Boucree, MD, DDS<br>
                                    The Institute for Advanced Reconstruction<br>
                                    Educational Advisor for Surgery
                                </p>
                            </div>
                            <div class="row mb-2">
                                <p class="col-lg-2 col-6 text-right">
                                    <img src="{% static 'img/staff/no-image.jpg' %}" alt="">
                                </p>
                                <p class="col-lg-4 col-6">
                                    Huan Jimmy Ngo, BS<br>
                                    Computer Engineer
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
