{% load static compress tz utility_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}USMLE/COMLEX Resources - Ocean Ink{% endblock %}</title>
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    {% compress css %}
      <!-- Bootstrap core CSS -->
      <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="{% static 'css/business-casual.min.css' %}" rel="stylesheet">
      {% block extracss %}{% endblock extracss %}
    {% endcompress css %}
    <!-- JavaScript Files -->
    {% compress js %}
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
      {% block extrajs %}{% endblock extrajs %}
    {% endcompress js %}
      <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    {% block facebookPlugin %}{% endblock facebookPlugin %}
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Ocean Ink</span>
      <span class="site-heading-lower">USMLE/COMLEX<br>Resources</span>
    </h1>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Ocean Ink</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item{% if request.resolver_match.url_name == 'index' %} active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'frontend:index' %}">Home
                {% if request.resolver_match.url_name == 'index' %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
            <li class="nav-item{% if request.resolver_match.url_name == 'services' %} active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'frontend:services' %}">Services
                {% if request.resolver_match.url_name == 'services' %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
            <li class="nav-item{% if request.resolver_match.url_name == 'resources' %} active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'frontend:resources' %}">Resources
                {% if request.resolver_match.url_name == 'resources' %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
            <li class="nav-item{% if request.resolver_match.url_name == 'schedule' %} active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'frontend:schedule' %}">Schedule
                {% if request.resolver_match.url_name == 'schedule' %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
            <li class="nav-item{% if request.resolver_match.url_name == 'pay' %} active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'profile:pay' %}">Purchase
                {% if request.resolver_match.url_name == 'pay' %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{% url 'profile:view' pk=user.pk %}">Hi, {{ user.first_name }}! &raquo;
                  {% if request.resolver_match.url_name == 'view' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              <li class="nav-item{% if request.resolver_match.url_name == 'account_logout' %} active{% endif %} px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{% url 'account_logout' %}">Sign Out
                  {% if request.resolver_match.url_name == 'account_logout' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              {% if perms.profile.view_student or user.is_superuser %}
                <li class="nav-item{% if request.resolver_match.url_name == 'staff' %} active{% endif %} px-lg-4">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'staff:staff-index' %}">Staff
                    {% if request.resolver_match.url_name == 'staff-index' %}<span class="sr-only">(current)</span>{% endif %}
                  </a>
                </li>
              {% endif %}
            {% else %}
              <li class="nav-item{% if request.resolver_match.url_name == 'account_signup' %} active{% endif %} px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{% url 'account_signup' %}">Register
                  {% if request.resolver_match.url_name == 'account_signup' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              <li class="nav-item{% if request.resolver_match.url_name == 'account_login' %} active{% endif %} px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{% url 'account_login' %}">Sign In
                  {% if request.resolver_match.url_name == 'account_login' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% if occurrences %}
      {% for occurrence in occurrences %}
        {% if occurrence.event.appointment.zoom_id and occurrence.end > now and not occurrence.event.appointment.student_id %}
          {% if now >= occurrence.start|minutes_ago:10 %}
            {% if user.is_authenticated %}
              <section class="alert alert-primary text-center">
                {{ occurrence.title }} is happening now for free at <a href="https://zoom.us/j/{{ occurrence.event.appointment.zoom_id }}">Zoom</a> ({{ occurrence.event.appointment.zoom_id }}).  Check it out!
                You are also welcome to join us in person at <a href="https://www.lodgic.org/">Lodgic Everyday Community</a>.
              </section>
            {% else %}
              <section class="alert alert-primary text-center">
                {{ occurrence.title }} is happening now for all registered students. <a href="{% url 'account_login' %}">Sign in</a> or <a href="{% url 'account_signup' %}">register</a> now to get the online video session link. Registration is free!
              </section>
            {% endif %}
          {% endif %}
        {% elif not occurrence.event.appointment.zoom_id %}
          {% if user.is_authenticated and perms.profile.create_appointment or user.is_superuser %}
            <section class="alert alert-primary text-center">
              Enter Zoom ID for {{ occurrence.title }} ({{ occurrence.start }} - {{ occurrence.end }}):
              <form action="{% url 'staff:zoom-create' %}" method="post" class="form-inline">
                {% csrf_token %}
                <input type="hidden" value="{{ occurrence.event.pk }}" name="occurrence" />
                <div class="col-12 md-auto">
                  <input type="text" name="zoom_id" class="form-control col-4" maxlength="10" />
                  <input type="submit" value="Save" name="submit" class="col-2 btn btn-primary" />
                </div>
              </form>
            </section>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Ocean Ink LLC 2019 | <a href="{% url 'frontend:about' %}">About Us</a> | <a href="{% url 'frontend:privacy-policy' %}">Privacy Policy</a> | <a href="{% url 'frontend:terms' %}">Terms of Use</a> | <a href="{% url 'frontend:disclaimer' %}">Disclaimer</a> | <a href="{% url 'frontend:return-policy' %}">Return Policy</a></p>
      </div>
    </footer>
    {% compress js %}
      <!-- Bootstrap core JavaScript -->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% endcompress js %}
    <script>{% block final_js %}{% endblock final_js %}</script>
  </body>
</html>
