{% load static compress tz utility_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}USMLE/COMLEX Resources - Ocean Ink{% endblock %}</title>
    <!-- Favicon data -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static '/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    {% compress css %}
      <!-- Bootstrap core CSS -->
      <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="{% static 'css/business-casual.min.css' %}" rel="stylesheet">
      {% block extracss %}{% endblock extracss %}
    {% endcompress css %}
    <!-- JavaScript Files -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141228836-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-141228836-1');
    </script>
    {% compress js %}
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
      {% block extrajs %}{% endblock extrajs %}
    {% endcompress js %}
      <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    {% block facebookPlugin %}{% endblock facebookPlugin %}
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Ocean Ink</span>
      <span class="site-heading-lower">USMLE/COMLEX<br>Resources</span>
    </h1>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Ocean Ink</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item{% if request.resolver_match.url_name == 'index' %} active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'frontend:index' %}">Home
                {% if request.resolver_match.url_name == 'index' %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
            <li class="nav-item{% if request.resolver_match.url_name == 'resources' %} active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'frontend:resources' %}">Resources
                {% if request.resolver_match.url_name == 'resources' %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
            <li class="nav-item{% if request.resolver_match.url_name == 'schedule' %} active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'frontend:schedule' %}">Schedule
                {% if request.resolver_match.url_name == 'schedule' %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
            <li class="nav-item{% if request.resolver_match.url_name == 'pay' %} active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'profile:pay' %}">Pricing
                {% if request.resolver_match.url_name == 'pay' %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{% url 'profile:view' pk=user.pk %}">Hi, {{ user.first_name }}! &raquo;
                  {% if request.resolver_match.url_name == 'view' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              <li class="nav-item{% if request.resolver_match.url_name == 'account_logout' %} active{% endif %} px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{% url 'account_logout' %}">Sign Out
                  {% if request.resolver_match.url_name == 'account_logout' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              {% if perms.profile.view_student or user|has_group:"oceancouragegroup" or user.is_superuser %}
                <li class="nav-item{% if request.resolver_match.url_name == 'staff' %} active{% endif %} px-lg-4">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'staff:staff-index' %}">Staff
                    {% if request.resolver_match.url_name == 'staff-index' %}<span class="sr-only">(current)</span>{% endif %}
                  </a>
                </li>
              {% endif %}
            {% else %}
              <li class="nav-item{% if request.resolver_match.url_name == 'account_login' %} active{% endif %} px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{% url 'account_login' %}">Sign In
                  {% if request.resolver_match.url_name == 'account_login' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% comment %}
      {% if occurrences %}
        {% for occurrence in occurrences %}
          {% if occurrence.event.appointment.zoom_id and occurrence.end > now and not occurrence.event.appointment.student_id %}
            {% if now >= occurrence.start|minutes_ago:10 %}
              {% if user.is_authenticated %}
                <section class="alert alert-primary text-center">
                  {{ occurrence.title }} is happening now!  You can <a href="{% url 'profile:pay' %}">subscribe</a> to the
                  Ocean Courage package to have access to by the next session.
                  You are also welcome to join us in person at <a href="https://www.lodgic.org/">Lodgic Everyday Community</a>
                  after paying the Lodgic - Ocean Ink membership fee.
                </section>
              {% else %}
                <section class="alert alert-primary text-center">
                  {{ occurrence.title }} is happening now for all subscribed students. <a href="{% url 'account_login' %}">Sign in</a> or <a href="{% url 'account_signup' %}">register</a> now!
                </section>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endcomment %}
    {% block content %}
    {% endblock content %}
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Ocean Ink LLC 2019 | <a href="{% url 'frontend:about' %}">About Us</a> | <a href="{% url 'frontend:privacy-policy' %}">Privacy Policy</a> | <a href="{% url 'frontend:terms' %}">Terms of Use</a> | <a href="{% url 'frontend:disclaimer' %}">Disclaimer</a> | <a href="{% url 'frontend:return-policy' %}">Return Policy</a></p>
      </div>
    </footer>
    {% compress js %}
      <!-- Bootstrap core JavaScript -->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% endcompress js %}
    <script>{% block final_js %}{% endblock final_js %}</script>
      <script>
        // jQuery plugin to prevent double submission of forms
        jQuery.fn.preventDoubleSubmission = function() {
          $(this).on("submit",function(e){
            var $form = $(this);
            if ($form.data("submitted") === true) {
              // Previously submitted - don't submit again
              e.preventDefault();
            } else {
              // Mark it so that the next submit can be ignored
              $form.data("submitted", true);
              var $submit = $form.find("input[type=submit]");
              $submit.data("label", $submit.val()).attr("disabled", true).addClass("disabled").val("Loading...");
            }
          });
          // Keep chainability
          return this;
        };
        $("form").preventDoubleSubmission();
      </script>
  </body>
</html>
