<section id="testimonials" class="page-section clearfix carousel slide carousel-fade" data-ride="carousel">
    <div class="container bg-faded rounded pb-5">
        <h1 class="text-center py-5">Testimonials</h1>
        <div class="carousel-inner">
            {% for t in testimonial_list %}
                <blockquote class="blockquote carousel-item{% if forloop.first %} active{% endif %}">
                    {{ t.testimonial|safe }}
                    <footer class="blockquote-footer">
                        {{ t.citation }}
                    </footer>
                </blockquote>
            {% endfor %}
            <a class="carousel-control carousel-control-prev" href="#testimonials" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control carousel-control-next" href="#testimonials" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
