<section class="page-section clearfix">
    <div class="container bg-faded rounded">
        <blockquote class="blockquote">
            <p class="mb-0">
                "I had never had test anxiety before med school-I always believed that if I prepared as best as
                I knew how, I would be fine. I think most of us who go into the medical field probably felt this
                way at some point along the way. The USMLE Step exams were a different kettle of fish, and when
                I failed Step 2, there was this sudden overwhelming fear and sense of inadequacy that just washed
                over me. It was paralyzing in many senses because not only do you feel the disappointment that
                comes with failure, you feel this doubt that seeps in wondering if you have been a fraud all
                along and whether or not you will be capable of overcoming this hurdle.<br>
                I’m so glad that God sent Dr. Le Pava my way-I’m not sure where I'd be today without her.
                She believes in her students so much that you wonder why you can't see what she sees in you.
                She helped rebuild and restore confidence, trust the process, maintain focus amid all the doubt
                and soldier on through the tears and despair that come with the preparation. She was there through
                every part of the journey-laughed with me when I needed to find joy, cried with me because she
                had been there and understood the pain, and prayed over me daily as I fought through it.<br>
                Thanks to all this, I managed to pass Step 2, and when I needed to take Step 3, I knew she was
                the only way I was going to get through it. It is a tough journey that had me knocked down
                several times, but through it all, my two constants were God and Dr. Le Pava. I can’t express
                fully how grateful I am that she came my way, that she was patient with me through this all
                and stuck with me in spite of my various shortcomings. I can only say
                "<strong>THANK YOU FROM THE BOTTOM OF MY HEART</strong>” to her and Ocean Ink for all
                that they did for me."
            </p>
            <footer class="blockquote-footer">
                SG, MD, USMLE Step 3
            </footer>
        </blockquote>
        <blockquote class="blockquote">
            <p class="mb-0">
                "I just wanted to take the time to thank you for all you do for us students. I’m a student who struggles
                with confidence when answering questions. I always second guess myself and just think I don’t know
                anything. Your morning question sessions have given me self-confidence and the rest of the sessions have
                solidified my knowledge. The name “ocean courage” really is true to its name. Thank you!"
            </p>
            <footer class="blockquote-footer">
                June 2019 Ocean Courage Subscriber
            </footer>
        </blockquote>
        <blockquote class="blockquote">
            <p class="mb-0">
                "I came to know Dr. Le Pava over a long and grueling three months. I was told I would be kicked out of
                medical school if I didn't pass my boards. I had already been a non-traditional student in terms of
                timeline, and I was frightened, hopeless, broken, and everything I shouldn't be when attempting to
                study. I was so embarrassed that I didn't even tell my parents, friends, or family that I was embarking
                on this journey in the middle of the country where I knew no one. For three months, I didn't see a
                single familiar face--I was alone. Initially, I didn't believe that another prep program would help me,
                because really, how are they any different? Little did I know, I was wrong. Not only did Dr. Le Pava
                teach me the knowledge I needed, she taught me how to approach questions in a way I never knew, how to
                study the material, developed personalized plans for me, drilled me, and scheduled me to take practice
                tests strategically that would prepare and desensitize me to the fear and pressure that loomed around
                test day for me. My immense fear, self-doubt, and feelings of inadequacy were eating at me every day,
                and throughout it all she believed in me and pushed me. She cared for me as her own daughter, and told
                me I could persevere through this from day one. Dr. Le Pava knew when I was ready to take the exam
                because she recognized when my confidence was built, when my thinking process was clear, and when I was
                able to concentrate fully on myself. I was able to succeed with her help. I went from a 381 to a 613, a
                232 point increase--something that I thought was IMPOSSIBLE. Every time I talk about these dark times,
                I can't speak of them without my heart being overcome in appreciation for Dr. Le Pava. She was and is
                like a mother to me. She revived me and taught me how to prove myself through COMLEX, and I have the
                opportunity to become a doctor today because of her."
            </p>
            <footer class="blockquote-footer">
                PS, DO, COMLEX Level 2
            </footer>
        </blockquote>
    </div>
</section>
