{% load static %}
<section class="page-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/exam.jpg' %}" alt="">
            </div>
            <div class="bg-faded p-5 mx-auto rounded col-12 col-lg-8">
                <h2 class="section-heading mb-0">
                    <span class="section-heading-lower">The FACE Protocol</span>
                    <span class="section-heading-upper">Test-taking Skills</span>
                </h2><br>
                <p>
                    <strong>FOCUS:</strong> Cover the answers. Read the last sentence of the vignette.  Take a
                    few seconds to understand the author’s question and what you are looking for.
                    Define if the question is a specific/direct question or analytical/indirect question.
                </p>
                <p>
                    <strong>ANALYZE:</strong> Start to read from the beginning of the vignette.  Keep reminding yourself
                    what you are looking for as you read. If it is a direct question, stop at any time
                    you see a specific clue for you answer. If it is an indirect question, you must
                    finish the vignette.
                </p>
                <p>
                    <strong>CONFIDENCE:</strong> Answer the author’s question.  For Step 2/3 tests, you must give your
                    diagnosis in all cases.
                </p>
                <p>
                    <strong>EXECUTE:</strong> Scan through the answer options, execute your choice, which is the closest
                    meaning to match your answer.  When in doubt, repeat FACE.  After the second time,
                    choose choice C if you cannot eliminate any answers, or choose the bottom option if you
                    cross out any options.
                </p>
            </div>
        </div>
    </div>
</section>