{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-description d-flex">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-5">
                        We offer lectures, tutoring, and group sessions to help you improve your scores on your medical exams.
                        We study at <a href="https://www.lodgic.org">Lodgic Everyday Community</a> in Champaign, Illinois, so
                        if you'd like to participate in person, you will need to pay a membership fee to Lodgic in order to join us.
                        Lodgic does have child care available for purchase. However, we are
                        also available online without any extra fees! Our standard online meeting tool is
                        <a href="https://www.zoom.us">Zoom</a>.
                    </p>
                    <p>
                        You are responsible for purchasing your own question bank and practice exams, but please talk to us
                        first to get advice on what you should purchase when you should purchase it.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ml-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Lectures</span>
                        <span class="section-heading-lower">Formal Learning Sessions</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/products-02.jpg' %}" alt="">
            <div class="product-item-description d-flex mr-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">
                        Lectures give you the opportunity to learn material in a formal fashion.
                        Each lecture is chock-full of information that will help you
                        succeed in passing your exam and improve your knowledge for use
                        in the field.
                    </p>
                    <p>Includes:</p>
                    <ul>
                        <li>Recorded lectures and live lectures</li>
                        <li>Two sessions of tutoring each week</li>
                        <li>Group sessions</li>
                        <li>Counseling, support, and follow-up emails are always included</li>
                    </ul>
                    <p>
                        You are responsible for paying for your practice exams and question bank separately. You
                        are welcome to attend live sessions at Lodgic Everyday Community. You are responsible
                        for paying for membership fees to Lodgic Everyday Community; however, all sessions are
                        available online at no extra cost.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex mr-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Tutoring</span>
                        <span class="section-heading-lower">One-on-one Sessions</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/products-01.jpg' %}" alt="">
            <div class="product-item-description d-flex ml-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">
                        Every time we work with you in a one-on-one tutoring session,
                        you will feel better about your career path, and you will have a plan
                        of action that will improve your score.
                    </p>
                    <ul>
                        <li>Available in-person at Lodgic Everyday Community in Champaign, Illinois OR online using Zoom</li>
                        <li>Buy enough tutoring sessions at once to get free access to the group sessions</li>
                        <li>Two tutoring sessions each week are included in the course purchase</li>
                        <li>Counseling, support, and follow-up emails are always included</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ml-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Group Sessions</span>
                        <span class="section-heading-lower">Learning and Teaching with Peers</span>
                    </h2>
                </div>
            </div>
<!--            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/products-03.jpg' %}" alt="">-->
            <div class="product-item-description d-flex ml-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">
                        Improve your knowledge and conceptual retention by studying
                        with your peers. With several different formats available for
                        group sessions, you will improve your scores.
                    </p>
                    <p>Includes:</p>
                    <ul>
                        <li>Morning Cute - Wake up early to review morning questions about specific topics</li>
                        <li>Drill Session - Become involved in explaining answers to questions</li>
                        <li>707 - Explain a concept to your peers or listen to your peers explain a concept</li>
                        <li>Concepts for Lunch - Learn important medical concepts</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% comment %}
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ml-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Question Bank</span>
                        <span class="section-heading-lower">Self-study</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/products-03.jpg' %}" alt="">
            <div class="product-item-description d-flex mr-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">
                        By utilizing our question bank, you have the opportunity to
                        experience the test without actually taking the test.  Experience
                        is the best teacher.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endcomment %}
{% endblock content %}