{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="page-section clearfix">
    <div class="container bg-faded">
        <blockquote class="blockquote">
            <p class="mb-0">
                "I came to know Dr. Le Pava over a long and grueling three months. I was told I would be kicked out of
                medical school if I didn't pass my boards. I had already been a non-traditional student in terms of
                timeline, and I was frightened, hopeless, broken, and everything I shouldn't be when attempting to
                study. I was so embarrassed that I didn't even tell my parents, friends, or family that I was embarking
                on this journey in the middle of the country where I knew no one. For three months, I didn't see a
                single familiar face--I was alone. Initially, I didn't believe that another prep program would help me,
                because really, how are they any different? Little did I know, I was wrong. Not only did Dr. Le Pava
                teach me the knowledge I needed, she taught me how to approach questions in a way I never knew, how to
                study the material, developed personalized plans for me, drilled me, and scheduled me to take practice
                tests strategically that would prepare and desensitize me to the fear and pressure that loomed around
                test day for me. My immense fear, self-doubt, and feelings of inadequacy were eating at me every day,
                and throughout it all she believed in me and pushed me. She cared for me as her own daughter, and told
                me I could persevere through this from day one. Dr. Le Pava knew when I was ready to take the exam
                because she recognized when my confidence was built, when my thinking process was clear, and when I was
                able to concentrate fully on myself. I was able to succeed with her help. I went from a 381 to a 613, a
                232 point increase--something that I thought was IMPOSSIBLE. Every time I talk about these dark times,
                I can't speak of them without my heart being overcome in appreciation for Dr. Le Pava. She was and is
                like a mother to me. She revived me and taught me how to prove myself through COMLEX, and I have the
                opportunity to become a doctor today because of her."
            </p>
            <footer class="blockquote-footer">
                Prya Shah, DO, COMLEX Level 2
            </footer>
        </blockquote>
    </div>
</section>
{% endblock content %}