section a, .footer a {
    color: black;
    border-bottom: 1px dashed black
}

section a:hover, .footer a:hover {
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid black
}

.carousel a {
    border-bottom: none;
    &:hover {
        border-bottom: none;
    }
}

section .carousel-control {
    filter: invert(100%);
}

section .carousel-item {
    padding-left: 15%;
    padding-right: 15%
}

.page-section {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.list-hours {
    width: 80%
}
.cta-inner:before {
    z-index: -1
}
body.drill {
    background: url('../drill/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    overflow-x: hidden;
}
.drill-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}
#question {
    color: red;
}
#answer {
    color: black;
}