{% extends 'base.html' %}
{% block content %}
<section class="col-12 col-lg-10 ml-lg-auto mr-lg-auto mt-4 card">
    <div class="card-body">
        <div>
            <div><a
                    name="_2cipo4yr3w5d"></a>
                <div>
                    <div
                         data-custom-class="title"><strong><span>RETURN POLICY</span></strong></div>
                    <div><br></div>
                    <div
                         data-custom-class="subtitle"><span
                    ><span
                    ><strong>Last updated <bdt
                            class="block-container question question-in-editor"
                            data-id="c2f1cfaa-f8aa-f473-fe60-375b057c49c3" data-type="question">December 29, 2018</bdt>&nbsp;</strong></span></span>
                    </div>
                </div>
                <div><span
                ><span>&nbsp;</span></span></div>
                <div><br></div>
                <div><span
                ><br><a name="_2cipo4yr3w5d"></a></span></div>
            </div>
            <div data-custom-class="body_text"><span
            >Thank you for your purchase. We hope you are happy with your purchase. However, even if you are not completely satisfied with your purchase for any reason, no refunds are available.
            </span></div>
            <div><br></div>
            <div data-custom-class="heading_1"><span
            ><strong>QUESTIONS</strong></span></div>
            <div><br></div>
            <div data-custom-class="body_text"><span
            >If you have any questions concerning our return policy, please contact us at:</span><span
            ><bdt class="block-component"></bdt></span></div>
            <div data-custom-class="body_text"><span><bdt
                    class="question"><span>(847) 485-9587 </span></bdt><span
            ><bdt class="statement-end-if-in-editor"></bdt>&nbsp;</span></span>
            </div>
            <div data-custom-class="body_text"><span
            ><bdt class="question">matthew.pava@gmail.com</bdt>&nbsp;</span>
            </div>
            <style>
      ul {
        list-style-type: square;
      }
      ul > li > ul {
        list-style-type: circle;
      }
      ul > li > ul > li > ul {
        list-style-type: square;
      }


            </style>
        </div>
    </div>
</section>
{% endblock content %}