{% load static %}
<section class="page-section clearfix">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'img/about.jpg' %}" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Help for Those Who Need It</span>
                            <span class="section-heading-lower">About Our Program</span>
                        </h2>
                        <p>
                            Established on Christmas 2018 by Dr. MK Le Pava, our program is designed to
                            help medical students and medical professionals keep up with the ever-evolving
                            field of medicine.
                        </p>
                        <p class="mb-0">
                            We know that as we work with you, you will improve your test scores and increase
                            your chances of success in the medical field.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>